<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Detalle Rol</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <header class="header">
    <h1>Sistema de Residencias Profesionales</h1>
    <p>Detalle de rol</p>
  </header>

  <div class="layout">
    <aside th:replace="~{fragmento/fragment :: aside}"></aside>

    <main class="main">
      <div class="card">
        <h2>Detalle del rol</h2>

        <p><strong>ID:</strong> <span th:text="${rol.id}"></span></p>
        <p><strong>Nombre:</strong> <span th:text="${rol.nombre}"></span></p>

        <div class="actions">
          <a class="btn secondary" th:href="@{/rol/mostrarRoles}">Regresar</a>
        </div>
      </div>
    </main>
  </div>
</body>
</html>